* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  padding: 1.5em 0;
}
/*______________ header _______________*/
header {
  background-color: #165ed7;
  color: #fff;
  padding: 0.5em 0.8em;
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 1.5em;
}
header .logo-wrapper {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
header .cart-btn {
  background-color: #fff600;
}
/*______________ menu _______________*/
.my-card {
  width: 100%;
  background: linear-gradient(145deg, #dcdcdc, #ffffff);
  box-shadow: 20px 20px 60px #cfcfcf, -20px -20px 60px #ffffff;
  padding: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}
.my-card,
.my-card h4,
.my-card img {
  border-radius: 17px;
}
.my-card h4 {
  font-size: 1em;
  background-color: #165ed7;
  color: #ececec;
  padding: 0.5em;
  margin: 1em 0 0 0;
}
.menu .col-6 {
  padding: 10px !important;
}
.menu figure {
  margin: 0;
}
/* filter */
.filter-container .button-group {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  padding-bottom: 1em;
}
.filter-container a {
  text-decoration: none;
  color: inherit;
}
.filter-container .our-gallery {
  transition: all 0.5s ease;
}
.button-group button {
  height: max-content;
  padding: 0.2em 1em;
  border: 1px solid #165ed7;
  background: transparent;
  margin-right: 1em;
  border-radius: 50px;
}
.button-group .active {
  background-color: #165ed7;
  color: #fff;
}
.filter-container .col-4 {
  padding: 0 8px;
}
.filter-container p {
  background-color: #f1f1f1;
  color: #165ed7;
  margin-top: 0.2em;
  padding: 0.2em;
  border-radius: 3px;
  margin-bottom: 0;
}
.filter-card {
  position: relative;
}
.price-tag {
  position: absolute;
  background-color: green;
  color: #fff;
  font-size: 1.2em;
  padding: 0.1em 0.2em;
}
.add-to-cart {
  width: 100% !important;
  background-color: #165ed7 !important;
  color: #fff !important;
  margin-bottom: 1em;
}
.add-to-cart:focus {
  box-shadow: none;
}
.add-to-cart:active {
  background-color: green !important;
  box-shadow: none;
}
.modal {
  z-index: 9999999999999;
}
.order-now {
  background-color: #165ed7;
  color: #fff;
}
/*------------------ form page ------------------*/
.form-btn {
  background-color: #165ed7;
  color: #fff;
}
.about-us-section h2 {
  padding-bottom: 0.2em;
  border-bottom: 2px solid #165ed7;
}
.about-us-section p {
  font-size: 1.1em;
}
.social-media ul {
  display: flex;
}
.social-media ul li {
  list-style: none;
  display: inline-block;
  margin-right: 1em;
  padding: 0.5em;
  height: 45px;
  width: 45px;
  background-color: #165ed7;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media a {
  color: #fff;
}
